<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Guild Manager {% endblock %}</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>

    <div id="navMenu">
        {% block navmenu %}
        <ul>
            <li>
                <a href="{% url 'characterIndex' %}">Characters </a>
            </li>
            <li>
                <a href="{% url 'guildIndex' %}">Guilds</a>
            </li>
            <li>
                <a href="{% url 'search' %}">Search</a>
            </li>
        </ul>

        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>


</html>